.fa,
.fas,
.far,
.fal,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; }

.fa-star:before {
  content: "\f005"; }

.fa-star-half-alt:before {
  content: "\f5c0"; }

.relase-candidate-button {
  font-size: 35px;
  padding: 0;
  cursor: pointer;
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("chrome-extension://__MSG_@@extension_id__/webfonts/fa-regular-400.woff2") format("woff2"); }

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("chrome-extension://__MSG_@@extension_id__/webfonts/fa-solid-900.woff2") format("woff2"); }

.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}
.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.fas.fa-star {
  color: rgb(0, 135, 90);
}

.fas.fa-star-half-alt {
  color: #f6c342;
}
